#headline        { text-align: center; }

#tbl_communities { width:100%; }

#th_identifier   { width:9%; }
.td_identifier   { font-family: monospace; }
#th_name         { width:13%; }
#th_language     { width:0% }
#th_description  {  }
#th_users        { width:0% }
.td_users        { text-align: right; }
#th_preview      { width:19%; }
#th_qr           { width:0%; }
#th_join_url     { width:15%; }
.td_join_url     {
    font-family: monospace;
    white-space: nowrap;
}

.copy_button     {  }

#tbl_footer      { width:100%; }

#td_summary      { text-align: center; }
#td_last_checked { text-align: center; }


:root {
    --session-classic-dark-green:      #31f196;
    --session-classic-dark-gray-one:   #414141;
    --session-classic-dark-gray-two:   #2d2d2d;
    --session-classic-dark-gray-three: #1b1b1b;
    --alternate-row-color:             #e8e8e8;
}
th                                  { background-color: lightgray; }
#tbl_communities tr:nth-child(odd)  { background-color: var(--alternate-row-color); }

/*
body                                { background-color: var(--session-classic-dark-green); }
#tbl_communities tr:nth-child(odd)  { background-color: var(--session-classic-dark-gray-two); }
#tbl_communities tr:nth-child(even) { background-color: var(--session-classic-dark-gray-three); }
*/


/* <QR code modals> */
.qr-code-modal {
    display: none;   /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1;      /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;     /* Full width */
    height: 100%;    /* Full height */
    padding-top: 100px; /* Location of the box */
  /*overflow: auto;*/ /* Enable scroll if needed */
  /*background-color: rgb(0,0,0);*/ /* Fallback color */
  /*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
}
.qr-code-modal-content {
    background-color: #ffffff;
    border: 1px solid #000000;
    width:80%;
    margin: auto;
    padding: 20px;
}
.qr-code-modal-close {
    float: right;
    font-size: 32px;
    font-weight: bold;
    color: #aaaaaa;
}
.qr-code-modal-close:hover,
.qr-code-modal-close:focus {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}
