#headline        { text-align: center; }

#tbl_communities { width:100%; }

#th_identifier   { width:9%; }
.td_identifier   { font-family: monospace; }
#th_name         { width:13%; }
#th_language     { width:0% }
#th_description  {  }
#th_users        { width:0% }
.td_users        { text-align: right; }
#th_preview      { width:19%; }
#th_qr           { width:0%; }
#th_join_url     { width:15%; }
.td_join_url     {
	font-family: monospace;
	white-space: nowrap;
}

.copy_button     {  }

#tbl_footer      { width:100%; }

#td_summary      { text-align: center; }
#td_last_checked { text-align: center; }


/* <Colors> */
:root {
	/*--session-classic-dark-green:      #31f196;*/
	/*--session-classic-dark-gray-one:   #414141;*/
	/*--session-classic-dark-gray-two:   #2d2d2d;*/
	/*--session-classic-dark-gray-three: #1b1b1b;*/
	--alternate-row-color:             #e8e8e8;
}
#tbl_communities th                 { background-color: lightgray; }
#tbl_communities tr:nth-child(odd)  { background-color: var(--alternate-row-color); }


/* <QR code modals> */
.qr-code {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.qr-code-icon {
	cursor: pointer;
}
.qr-code-modal {
	display: none;   /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1;      /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;     /* Full width */
	height: 100%;    /* Full height */
	padding-top: 100px; /* Location of the box */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	/*overflow: auto;*/ /* Enable scroll if needed */

}
.qr-code-modal-content {
	background-color: #ffffff;
	border: 1px solid #000000;
	width: 80%;
	margin: auto;
	padding: 20px;
}
.qr-code-modal-close {
	float: right;
	font-size: 35px;
	font-weight: bold;
	color: #aaaaaa;
}
.qr-code-modal-close:hover,
.qr-code-modal-close:focus {
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

/* <Snackbar> */
/* The snackbar - position it at the bottom and in the middle of the screen */
#copy-snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded corners */
	padding: 16px;
	position: fixed; /* Move along as viewport scrolls */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Offset the snackbar by half the viewport width */
	transform: translateX(-50%); /* Push the snackbar back by half its width */
	bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#copy-snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}
