# /etc/systemd/system/sessioncommunities.service
[Unit]
Description=Scrape every known source for Session Communities and put the data to a NGINX accessible folder

[Service]
WorkingDirectory=/home/session/sessioncommunities.online
User=session
ExecStart=/usr/bin/php php/update-listing.php
